/* public/css/styles.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/background.jpg'); /* Ruta relativa a la carpeta public */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* La imagen se fijará al hacer scroll */
    color: #ffffff; /* Ajusta el color del texto para que sea legible en el fondo */
    overflow-x: hidden;
}

.navbar.fixed-top {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
